/* ------Google-Fonts---- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    color:#3A3A3A;

}

/* ---------Common Section----- */
.container {
    margin: 5% 5%;
    min-height: auto;
}

h1 {
    
    font-size: 52px;
    line-height: 70px;
    
}

h2 {
    font-size: 24px;
}

.font-size-1 {
    font-size: 24px;
}

p {
    font-size: 16px;
    
}

.button {
    background-color: #E02C6D;
    padding: 10px 24px;
    width: 157px;
    border-radius: 20px;
}

.button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

.arro {
    color: white;
}

/* --------Header Section----- */

header h2 {
    padding: 2%;
    
    font-size: 24px;
}

/* ------Main Head Section----- */

.head-section {
    display: flex;
}

.head-text {
    width: 60%;
    padding: 2%;
}

.par-text {
    width: 70%;
    margin-bottom: 30px;
}

.header-image {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    width: 40%;
    padding: 2%;
}

/* Transition and transformation */
.header-image:hover img{
    transform: scale(1.4);
    transition:transform 2s ease-in-out;
}


/* ------Popular Collection------ */

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.product-info h2 {
    margin: 20px 0;
}

.popular-collection>h2 {
    font-size: 28px;
    margin: 5% 0;
    text-align: center;
    color: #3A3A3A;
    line-height: 70px;

}

.product {
    box-shadow: 5px 5px 50px 1px #AAAAAA;
    border-radius: 10px;
    padding: 5%;

}

.product-info {
    width: 100%;
}

.product img {
    width: 100%;
}

.star {
    margin: 10px 0;
}

.star-color {
    color: orange;
}

.prouduct-text p {
    font-size: 14px;
}

.see-more {
    margin: 50px 0;
    display: flex;
    justify-content: flex-end;
    
}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-style a {
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    margin-right: 5px;
}

.arro-style {
    color: #E02C6D;
}

/* ---------Subscription Section----- */

.subscribtion {
    display: flex;
    align-items: center;
}

.subs-image {
    width: 40%;
    padding: 5%;
}

.subs-image img {
    width: 80%;
}

.subs-content {
    width: 60%;
    padding: 5%;
}

.subs-content p {
    width: 90%;
    margin: 5% 0;
}

.from-section {
    display: flex;
    width: 100%;
}

.mail-section {
    width: 50%;  
}

.mail-section input {
    border-radius: 20px;
    width: 100%;
    padding: 2% 10%;
}

.but-section {
    width: 40%;
    display: flex;
    justify-content: center;
}

.but-section button {
    background-color: #E02C6D;
    padding: 2% 10%;
    border-radius: 20px;
    color: white;
}

/* --------Footer Section-------- */

.footer-container {
    background-color: #3b3b3d;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.align-content {
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
    
}
.align-content a{
    color:white;
}

.icon-gap {
    margin: 0 10px;
}

/* --------Responsive for Mobile------ */

@media only screen and (max-width: 767px) {

    header h2 {
        font-size: 16px;
        text-align: center;
    }

    .head-section {
        flex-direction: column;
        align-items: center;
    }
    .head-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 28px;
    }

    .header-image {
        width: 80%;
        background-size: 80%;
        background-position: center;
    }

    .header-image img {
        width: 60%;
        margin: 20%;
    }

    .popular-collection>h2 {
        margin: 5% 0;
        text-align: center;
    }

    .product-info h2 {
        font-size: 16px;
    }

    .collections {
        grid-template-columns: repeat(1, 1fr);
    }

    .subscribtion {
        display: block;
    }

    .subs-image, .subs-content {
        width: 100%;
    }

    .mail-section input {
        width: 80%;
    }

}

/* ----------Responsive for Tab--------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    header h2 {
        text-align: center;
    }

    .head-section {
        flex-direction: column;
        align-items: center;
    }
    .head-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-image {
        width: 100%;
        background-size: 80%;
        background-position: center;
    }

    .header-image img {
        width: 60%;
        margin: 20%;
    }

    .collections {
        grid-template-columns: repeat(2, 1fr);
    }

    .mail-section input {
        width: 80%;
    }

}